table {
    border-collapse: collapse;
    display: inline;
    padding: 0px;
}
td, tr {
    border: 1px solid black;
    width: 19%;
}

td {
}

tr img {
    height: 10%;
}

body {
    text-align: center;
    font-family: Courier;
}