table {
    border-collapse: collapse;
    display: inline-block;
    width: 65%;
}
tr {
    height: 80%;
}

td {
    border: 1px solid black;
    width: 3%;
}

td img {
    width: 20%;
}

body {
    text-align: center;
    font-family: Courier;
}